.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  width: 90%;
}

.cardSpan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
}

.iconButton {
  padding: 0px 24px 0px 16px;
  img {
    height: 16px;
    padding-right: 8px;
  }
}
