body{
    background-color: rgb(37, 44, 50);
    color: #F7F2FA;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }